 * {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
  color: white;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  background-color: rgb(48, 45, 45);
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: #f9f7f7;
}
nav ul li a:hover {
  color: rgb(107, 107, 231);
  font-size: 1.02rem;
}

.left {
  font-size: 1.5 rem;
}
.firstSection {
  display: flex;
  justify-content: space-around;
  margin: 10vh 0;
  align-items: center;
}
.firstSection > div {
  width: 30%;
}
.leftSection {
  font-size: 3rem;
}

.rightSection img {
  width: 80%;
  margin: 50px 0;
  padding: 10px;
  
}
.purple {
  color: blueviolet;
}
#element {
  color: blueviolet;
}
.secondSection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}
.secondSection h1 {
  font-size: 1.9 rem;
}
main hr {
  border: 0;
  background: red;
  height: 2px;
  margin: 40px 84px;
}
.text-grey {
  color: grey;
}
.secondSection .box {
  height: 2px;
  margin: 56px 0;
  width: 71vw;
  background: red;
  display: flex;
}
.secondSection .vertical {
  height: 93px;
  width: 2px;
  background: red;
  margin: 0 120px;
}
.vertical-title {
  position: relative;
  top: 75px;
  width: 150px;
  font-size: 14px;
}
.image-top {
  width: 23px;
  position: relative;
  top: -32px;
  left: -9px;
}
.vertical-des {
  position: relative;
  top: 86px;
  color: grey;
  width: 150px;
  font-size: 9px;
}
footer {
  background-color: rgb(21, 2, 21);
}
.footer {
  display: flex;
  padding: 23px 122px;
  justify-content: space-evenly;
}
.footer ul {
  list-style: none;
}
.footer > div {
  width: 223px;
}
footer .footer-rights {
  text-align: center;
  color: gray;
  padding: 12px 0;
}
.leftSection .btn {
  background-color: #000000;
  color: white;
  border: 2px solid white;
  padding: 12px;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
}
.leftSection .btn {
  background-color: #000000;
  color: white;
  border: 2px solid white;
  padding: 12px;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
}
.leftSection .btn {
  background-color: #000000;
  color: white;
  border: 2px solid white;
  padding: 12px;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
} 
.leftSection .btn {
  background-color: #000000;
  color: white;
  border: 2px solid white;
  padding: 12px;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
} 
 




.leftSection .buttons {
  padding: 50px 0;
}
